<div class="container mt-5">
  <div class="row mb-3">
    <!-- Champ de recherche - colonne de taille 3 -->
    <div class="col-md-3">
      <input class="form-control" type="search" placeholder="Search" aria-label="Search" [(ngModel)]="search">
    </div>

    <!-- Bouton Ajouter Categorie - colonne de taille 3 et aligné à droite -->
    <div class="col-md-3 ms-auto">
      <button [routerLink]="['/addcategorie']" class="btn btn-primary">Ajouter Categorie</button>
    </div>
  </div>

  <!-- Table -->
  <table class="table table-bordered table-striped">
    <thead class="table-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Description</th>
        <th scope="col">Title</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let c of listcategorie | recherchecat:search | paginate: { itemsPerPage: 3, currentPage: p }; let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ c.description }}</td>
        <td>{{ c.title }}</td>
        <td>
          <button type="submit" [routerLink]="['/editcategorie', c.id]" class="btn btn-warning">Edit</button>
          <button type="submit" [routerLink]="['/detailscat', c.id]" class="btn btn-info">Details</button>
          <button type="button" (click)="deletecategorie(c.id)" class="btn btn-danger">Delete</button>

        </td>
      </tr>
    </tbody>
  </table>

  <!-- Pagination Controls -->
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
