<div class="container my-4">
  <form [formGroup]="form" class="p-4 rounded shadow-sm bg-light">
    <h4 class="mb-3">Ajouter un produit</h4>
    <div class="row">
      <!-- Name -->
      <div class="form-group col-md-6 mb-3">
        <label for="name">Nom du produit</label>
        <input
          type="text"
          class="form-control"
          id="name"
          placeholder="Nom du produit"
          formControlName="name"
        />
      </div>

      <!-- Description -->
      <div class="form-group col-md-6 mb-3">
        <label for="description">Description</label>
        <input
          type="text"
          class="form-control"
          id="description"
          placeholder="Description"
          formControlName="description"
        />
      </div>

      <!-- Price -->
      <div class="form-group col-md-6 mb-3">
        <label for="price">Prix</label>
        <input
          type="text"
          class="form-control"
          id="price"
          placeholder="Prix"
          formControlName="price"
        />
      </div>

      <!-- Quantity -->
      <div class="form-group col-md-6 mb-3">
        <label for="qte">Quantité</label>
        <input
          type="text"
          class="form-control"
          id="qte"
          placeholder="Quantité"
          formControlName="qte"
        />
      </div>

      <!-- Image -->
      <div class="form-group col-md-6 mb-3">
        <label for="image">Image</label>
        <input
          type="file"
          class="form-control"
          id="image"
          (change)="onFileSelected($event)"
        />
      </div>
    </div>

    <!-- Submit Button -->
    <div class="d-flex justify-content-end">
      <button
        type="submit"
        (click)="ajouterproduct()"
        class="btn btn-primary px-4"
      >
        Enregistrer
      </button>
    </div>
  </form>
</div>
